<!DOCTYPE html>
<html>
<head>
    <title>Matches - UniMate</title>
</head>
<body>
    <h1>Student Matches</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Interests</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.interests }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/register">Register Another Student</a> | <a href="/">Home</a>
</body>
</html>
